<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.db_thoitrangtreemConnectionString"
            connectionString="Data Source=DESKTOP-JOCTBAB;Initial Catalog=db_thoitrangtreem;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>